@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  color: rgb(26, 26, 26);
  background: #fffbf5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}
.nav {
  font-family: 'Itim', cursive;
}
img {
  width: 200px;
}

@font-face {
  font-family: 'yummy';
  src: url('/fonts/yummy.ttf');
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #357abd;
}
